//Listes de pages
.blocCategorie-page{
  text-align: center;
  margin-bottom: 3rem;
  .blocAnnexeVignette{
    margin-bottom: 1.5rem;
  }
  h3, .blocAnnexeResume{
    text-align: left;
  }
  h3{
    color: $second-color;
    font-size: 3rem;
    font-weight: $weight-bold;
    margin-bottom: 1rem;
    @include respond-to("medium"){
      font-size: 2.5rem;
    }
  }
  .bouton{
    margin: 1rem 0;
  }
}

//Accordéon
.blocAccordeon-titre{
  background-color: $second-color;
  padding: 1rem 2rem;
  margin-bottom: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  color: $white;
}

.blocAccordeon-texte{
  display: none;
  padding: 2rem;
}

//Annuaire
.blocAnnuaire-utilisateur{
  text-align: center;
  word-break: break-all;
  p:first-of-type{
    font-weight: $weight-bold;
    color: $second-color;
    font-size: 1.6rem;
  }
}

.blocAnnuaire-utilisateur-image{
  width: 15rem;
  margin: auto;
  height: 15rem;
  background-color: $third-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  img{
    width: 100%;
  }
  svg{
    font-size: 6rem;
    color: $white;
  }
}

//Formulaire
.blocFormulaire{
  @include respond-to("extra-large"){
    margin-left: -2rem;
    margin-right: -2rem;
  }
  @include respond-to("large"){
    padding: 2rem;
  }
  &, a{
    color: $third-color;
  }
  label{
    color: $black;
    &:not(.labelCheck){
      font-size: 1.5rem;
      font-weight: $weight-bold;
      margin-top: 3rem;
    }
  }
  input[type=text], textarea, select{
    border-radius: 4rem;
    font-size: 1.5rem;
    border: 2px solid $third-color;
    @include respond-to("small"){
      width: 100%;
    }
  }
  input[type=text], select{
    @include respond-to("tiny-up"){
      min-width: 25rem;
    }
    @include respond-to("tiny"){
      width: 100%;
    }
  }
  select{
    background-color: $third-color;
    color: $white;
  }
  textarea{
    width: 45rem;
  }
  [type=checkbox]{
    border-radius: 0;
  }
}

//Galerie
.blocGalerie{
  > div > div{
    margin-bottom: 2rem;
  }
}

//LEI
.ficheLEI{
  margin-bottom: 3rem;
  &-commune{
    color: $second-color;
  }
  &-titre{
    color: $second-color;
    font-size: 3rem;
    font-weight: $weight-bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    @include respond-to("medium"){
      font-size: 2.5rem;
    }
  }
  &-lien{
    text-align: center;
    .bouton{
      margin: 1rem 0;
    }
  }
  &-sansImage{
    font-size: 10rem;
  }
}

//Menu
main .blocMenu{
  a{
    color: $second-color;
  }
}

//Menu des langues
.menuLangues.flex-container{
  list-style: none;
  padding: 0;
  @include respond-to("small"){
    flex-direction: row;
  }
  li{
    margin: 0 1rem;
  }
  a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: $weight-bold;
  }
}

//Recherche
.blocRecherche{
  input{
    border: 2px solid $third-color;
    border-radius: 5rem 0 0 5rem;
  }
  button{
    background-color: transparent;
    color: $third-color;
    border-radius: 0 5rem 5rem 0;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    height: 4.7rem;
  }
  h3{
    margin-top: 3rem;
  }
}

//Rubrique
.blocRubrique-page{
  margin-bottom: 4rem;
}

//Slider
body:not(.accueil) main > div[class^="bloc"].blocSlider{
  margin-bottom: 10rem;
}

.blocSlider-slide--texte{
  background-color: $fourth-color;
  width: 100%;
  padding: 2rem;
}

.slick-slide{
  position: relative;
}

  //Flèches
.slick-prev, .slick-next{
  @include respond-to("extra-large"){
    top: calc(100% + 2rem);
  }
  &:before{
    color: $third-color;
    font-size: 4rem;
  }
}

.slick-prev{
  left: -5rem;
  @include respond-to("extra-large"){
    left: 0;
  }
}

.slick-next{
  right: -5rem;
  @include respond-to("extra-large"){
    right: 0;
  }
}

.slick-arrow{
  padding: 0;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  font-size: 0;
  z-index: 10;
}

  //Boutons
.slick-dots{
  bottom: -3rem;
}

.slick-dots li button::before{
  font-size: 1.5rem;
  color: $third-color;
}

.slick-dots li.slick-active button::before{
  color: $third-color;
}

//Réseaux sociaux
.blocReseauxSociaux{
  font-size: 2.5rem;
  a{
    display: inline-block;
    margin: 0 .5rem;
  }
}

//Vidéo
.blocVideo, .blocVideos{
  iframe{
    @include respond-to("medium"){
      max-height: 30rem;
    }
  }
}

//Vignette
.blocAnnexeVignette, .ficheLEI-image a, .ficheLEI-sansImage a{
  height: 22rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100%;
  }
}