body:not(.accueil) main{
  padding: 3rem 2rem;
  @include centre;
  > div[class^="bloc"]:not(.blocTitre){
    margin-bottom: 5rem;
  }
}

h1{
  margin-bottom: 2rem;
}

.has-gutter-xl > *{
  margin-bottom: 2rem;
}

//Fil d'Ariane
#ariane{
  padding: 2rem 0;
  color: $third-color;
  font-size: 1.4rem;
  font-weight: $weight-bold;
  a, span{
    font-weight: $weight-regular;
    color: $color-base;
  }
  a{
    text-decoration: none;
  }
  span{
    color: $color-base;
  }
}

//Infos sur la page
.infos-page{
  margin: 2rem 0;
}

.bouton-categorie{
  background-color: $third-color;
  color: $white;
  text-decoration: none;
  padding: .5rem 1rem;
  transition: background-color .3s;
  border-radius: 1.5rem;
  display: inline-block;
  &:hover, &:active, &:focus{
    background-color: $second-color;
    text-decoration: none;
    color: $white;
  }
  svg{
    margin-right: .5rem;
  }
}

//Pagination
.pagination{
  margin: 3rem 0;
  font-size: 1.8rem;
  ul{
    justify-content: center;
    @include respond-to("small"){
      flex-direction: row;
    }
  }
  li{
    margin: 0 1rem;
  }
}

//Commentaires
.blocCommentaires-formulaire{
  display: none;
  #form > div{
    @include respond-to("small-up"){
      display: flex;
    }
  }
  label{
    width: 18rem;
    @include respond-to("small"){
      display: block;
      width: 100%;
    }
  }
  input, textarea{
    border-radius: 5rem;
    border: 2px solid $third-color;
    margin-bottom: 1rem;
    width: 50%;
    @include respond-to("small"){
      width: 100%;
    }
  }
}

//Type de catégorie
.typeCategorie-categorie{
  h2{
    font-size: 2rem;
  }
}

//Catégorie
.categorie-page{
  h2{
    font-size: 3rem;
  }
}