footer{
  background-color: $main-color;
  padding: 4rem 2rem 2rem;
  > *{
    max-width: $large;
    margin: auto;
  }
  &, a{
    color: $white;
  }
}

.groupeBlocs.footer{
  overflow: auto;
  .blocGalerie{
    @include respond-to("medium-up"){
      width: 50%;
      float: left;
      padding-right: 7.5rem;
    }
    @include respond-to("small"){
      margin-bottom: 2rem;
    }
    > div{
      width: 100%;
    }
    > div > div{
      width: calc(100% / 2 - 2rem - 0.01px);
      @include respond-to("medium"){
        width: calc(100% / 4 - 2rem - 0.01px);
      }
      @include respond-to("small"){
        width: calc(100% / 2 - 2rem - 0.01px);
        margin: 0 auto 2rem;
      }
    }
  }
  > div:not(.blocGalerie){
    @include respond-to("medium-up"){
      padding-left: calc(50% + 7.5rem);
    }
    @include respond-to("medium"){
      text-align: center;
    }
  }
  .blocReseauxSociaux{
    margin: 2rem 0 2rem -1rem;
    a{
      margin: 0 1rem;
    }
  }
}

.cookies{
  position: fixed;
  bottom: 0;
  max-width: 110rem;
  margin: auto;
  left: 0;
  right: 0;
  background: $third-color;
  box-shadow: 4px -4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  font-size: 2rem;
  &, a{
    color: $white;
  }
  body.notFull &{
    left: 30rem;
  }
}

.scrollTop{
  display: none;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  background-color: $third-color;
  width: 5rem;
  text-align: center;
  height: 5rem;
  color: #FFF;
  font-size: 4rem;
  border: 1px solid;
  svg{
    display: block;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
  }
}