footer{
  background-color: $main-color;
  padding: 4rem 2rem;
  > *{
    max-width: $extra-large;
    margin: auto;
  }
  &, a{
    color: $white;
  }
  .blocMenu{
    margin: 2rem 0;
    ul{
      display: flex;
      justify-content: center;
      padding: 0;
      list-style: none;
    }
    li{
      &:after{
        content: " - ";
      }
      &:last-of-type:after{
        content: "";
      }
    }
    a{
      text-decoration: none;
      &:hover{
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

.cookies{
  position: fixed;
  bottom: 0;
  max-width: 110rem;
  margin: auto;
  left: 0;
  right: 0;
  background: $third-color;
  box-shadow: 4px -4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  font-size: 2rem;
  &, a{
    color: $white;
  }
  body.notFull &{
    left: 30rem;
  }
}

.scrollTop{
  display: none;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  background-color: $third-color;
  width: 5rem;
  text-align: center;
  height: 5rem;
  color: #FFF;
  font-size: 4rem;
  border: 1px solid;
  svg{
    display: block;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
  }
}