.header_front{
  background-color: $main-color;
  &, a{
    color: $white;
  }
  a{
    text-decoration: none;
    font-size: 2rem;
  }
  .blocLogoSite{
    margin-right: auto;
  }
  .logo{
    max-height: 4.5rem;
  }
  .blocMenuLangues{
    margin: 0 5rem;
    li{
      margin: 0 1rem;
    }
  }
  .groupeBlocs{
    display: flex;
    align-items: center;
  }
  ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

//Menu
.header_front .blocMenu{//Niveau 1
  a{
    display: inline-block;
  }
  ul ul{
    display: none;
  }
  li{
    position: relative;
  }
  > div > ul > li{
    &:hover{
      > ul{
        display: block;
      }
    }
    > a{
      padding: 2rem;
    }
  }
}

.header_front .blocMenu > div > ul > li > ul{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $second-color;
  > li > a{
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.8rem;
    transition: background-color .2s;
    &:hover{
      background-color: $third-color;
    }
  }
}

//Burger
#burger{
  @include respond-to("medium-up"){
    display: none;
  }
}